<div *ngIf="results?.length">
  <!--<ul>-->
    <!--<li *ngFor="let song of results">-->
      <!--<a routerLink="/detail/{{song.id}}">-->
        <!--<span class="badge">{{song.id}}</span> {{song.title}}-->
      <!--</a>-->
    <!--</li>-->

  <!--</ul>-->
  <mat-table [dataSource]="results" class="mat-elevation-z8">
    <!-- Artist Column -->
    <ng-container matColumnDef="artist">
      <mat-header-cell *matHeaderCellDef> Artist </mat-header-cell>
      <mat-cell *matCellDef="let song"> {{song.artist}} </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let song"> {{song.title}} </mat-cell>
    </ng-container>

    <!-- Length Column -->
    <ng-container matColumnDef="length">
      <mat-header-cell *matHeaderCellDef> Length </mat-header-cell>
      <mat-cell *matCellDef="let song"> {{song.length}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBottomSheet(row)"></mat-row>
  </mat-table>

</div>
<div *ngIf="!results || !results.length ">
  <span>No results</span>
</div>

