<div *ngIf="!showControls"><button mat-button (click)="toggleVisible(true)">controls</button>
</div>
<div *ngIf="showControls">
  <button mat-button (click)="toggleVisible(false)">hide</button>
  <button mat-icon-button *ngIf="!playing" (click)="onPlay()">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button mat-icon-button *ngIf="playing" (click)="onPause()">
    <mat-icon>pause</mat-icon>
  </button>
  <button mat-icon-button (click)="onNext()">
    <mat-icon>skip_next</mat-icon>
  </button>
</div>
